@model RuleBookViewModel

<link rel="stylesheet" href="~/css/htmlEditor.css"/>

<div class="main_content">
    <textarea id="html" class="html">@Model.html</textarea>
    <div class="output" id="output"></div>
</div>

<input type="number" id="page" value="@Model.currentPage" min="1" max="@Model.maxPage"/>
<input type="button" id="saveRuleBook" value="save"/>
<input type="button" id="addPage" value="add"/>

<script>

jQuery("#output").html(jQuery("#html").val());

(function() {
   jQuery("textarea.html").keyup(function() {
      var $this = jQuery(this);
      if ($this.attr("id") === "html") {
         jQuery("#output").html($this.val());
      }
   });
})();

jQuery('#saveRuleBook').click(function () {
    {
        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("EditRuleBook", "EditRuleBook")',
            data: {
                html: document.getElementById("html").value,
                id: '@Model.currentPage'
            }
        });
    }
});

jQuery('#addPage').click(function () {
    {
        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("AddPage", "EditRuleBook")'
        });
    }
});

jQuery('#page').change(function (){
    let data = {
        "id": document.getElementById("page").value
    }
    changeWindowContent('@Url.Action("EditRuleBook", "WindowComponent")', '@Model.windowId', data)    
})
</script>