@using System.Web
@model WindowViewModel
**
<div id="window@(Model.Id)" class="window">
    <div id="window@(Model.Id)header" class="title-bar" style="min-width: 300px; max-width: 100%">
        <div id="title" class="title-bar-text">@Model.Title</div>
        <div class="title-bar-controls">
            <span class="close-button" onclick="remove(@Model.Id)">&times;</span>
        </div>
    </div>
    <div class="window-content" id="window-content-@(Model.Id)">
        
    </div>
</div>

<script src="~/js/window.js"></script>
<script>
    dragElement(document.getElementById("window@(Model.Id)"));
    jQuery(document).ready(function () {
        changeWindowContent('@Url.Action(Model.ContentViewComponent, "WindowComponent")', @Model.Id, @Html.Raw(Model.ViewData))
        
    });
</script>