@{
    ViewData["Title"] = "SCPOS";
}

<header>
    <div class="navbar">
        <img src="scp_logo.svg" alt="scp" width="30"/>
    </div>
</header>

<div id="database" class="item">
    <img src="~/icons/iconmonstr-database-1.svg" alt=""/>
    <span class="caption">Database</span>
</div>
<div id="settings" class="item">
    <img src="~/icons/iconmonstr-gear-1.svg" alt=""/>
    <span class="caption">Settings</span>
</div>
<div id="accounts" class="item">
    <img src="~/icons/iconmonstr-user-29.svg" alt=""/>
    <span class="caption">Accounts</span>
</div>
<div id="editRuleBook" class="item">
    <img src="~/icons/iconmonstr-book-18.svg" alt=""/>
    <span class="caption">Edit Rulebook</span>
</div>
<div id="ruleBook" class="item">
    <img src="~/icons/iconmonstr-book-19.svg" alt=""/>
    <span class="caption">Rulebook</span>
</div>

<div id="main"></div>

@section Scripts{
    <script>
        jQuery(document).ready(function () {
            addWindow('#database', '@Url.Action("GetWindow", "Home")', "Database", "Database");
            addWindow('#settings', '@Url.Action("GetWindow", "Home")', "Settings", "Settings");
            addWindow('#accounts', '@Url.Action("GetWindow", "Home")', "Accounts", "Accounts");
            addWindow('#editRuleBook', '@Url.Action("GetWindow", "Home")', "Edit", "EditRuleBook");
            addWindow('#ruleBook', '@Url.Action("GetWindow", "Home")', "Rulebook", "RuleBook");
        });
    </script>
}
